{% extends "layout.html" %}

{% block content %}
<header id="header">
		<h1><center>Krishi Uddhar</center></h1>
		<p><center> Website Under Construction. Will update soon!!</center></p>
{% endblock %}
